<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
    xmlns:group="urn:jsptagdir:/WEB-INF/tags/resources/group"
	xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:button="urn:jsptagdir:/WEB-INF/tags/buttons"
	xmlns:spheres="urn:jsptagdir:/WEB-INF/tags/spheres"	
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="navi.sphere.title" var="pageTitle">
		<fmt:param value="${fn:escapeXml(command.sphereName)}"/>
	</fmt:message>
	<fmt:message var="headline" key="page.sphere.headline" />
	<layout:resourceLayout pageTitle="${pageTitle}" command="${command}" requPath="${requPath}" activeTab="${(not empty command.context.loginUser.name) ? 'my' : ''}">
		<jsp:attribute name="headerExt">
			<link rel="stylesheet" type="text/css" href="${resdir}/css/spheres.css" />
		</jsp:attribute>
	
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.search" formAction="/search" formInputName="search"/>
		</jsp:attribute>
		
		<jsp:attribute name="infobox">
			<parts:infobox>
				<jsp:attribute name="infoTextBody">
					<fmt:message key="spheres.sphere.intro">
						<fmt:param value="${fn:escapeXml(command.sphereName)}"/>
					</fmt:message>
				</jsp:attribute>
			</parts:infobox>
		</jsp:attribute>	
		
		<jsp:attribute name="sidebar">
		    <script type="text/javascript">
			<![CDATA[
		    	function testDebugSphere(content) {
			    	var test = content;
		    	}
			]]>
			</script>
				<!-- friendrelation members -->
    			<!--+
    				| display buddies
    				+-->
			<sidebar:sidebarItem>
				<jsp:attribute name="text" >
    				<fmt:message key="spheres.sphere.members">
						<fmt:param value="${fn:escapeXml(command.sphereName)}"/>
					</fmt:message>
				</jsp:attribute>
				<jsp:attribute name="content">
					<ul class="sphere_users sidebar_collapse_content">
						<c:forEach items="${command.relatedUsers}" var="item" varStatus="loop">
							<spheres:userLink user="${item}"/>
				    	</c:forEach>
			    	</ul>
				</jsp:attribute>
			</sidebar:sidebarItem>
			
			
			<!-- list all spheres -->
			<sidebar:sidebarItem textKey="spheres.sphere.list.title">
				<jsp:attribute name="content">
					<spheres:spheresCloud />
				</jsp:attribute>
			</sidebar:sidebarItem>
			
			<c:if test="${not empty command.requestedTags}">
				<c:set var="requPath" value="${mtl:getLowerPath(requPath)}" />
			</c:if>
			<sidebar:sidebarTagCloudItem requPath="${requPath}" cmd="${command.tagcloud}" tagboxMinfreqStyle="none" showTooltips="${command.context.loginUser.settings.tagboxTooltip}"/>
		   
		</jsp:attribute>
	</layout:resourceLayout>
</jsp:root>