<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bs"
	xmlns:user="urn:jsptagdir:/WEB-INF/tags/actions/user"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="navi.oauth.authorization" var="oAuthTitle" />
	
	<layout:singleContainerLayout command="${command}" pageTitle="${oAuthTitle}" requPath="${requPath}" headerMessageKey="navi.oauth.authorization" smallBox="true">

		<!--+
			| page specific styling
			+-->
		<jsp:attribute name="headerExt">
			<style type="text/css">
				.oauthIcon {
					float: left;
					width: 100px;
				}
				.oauthMeta {
					margin-left: 100px;
				}
				.oauthTitle {
					font-weight: bold;
				}
				.oauthDescription {
					font-style: italic;
				}
			</style>
		</jsp:attribute>

		<!--+
			| content
			+-->
		<jsp:attribute name="content">
			<fmt:message key="oauth.authorization.intro">
				<fmt:param value="${command.appTitle}"/>
				<fmt:param value="${command.appDescription}"/>
				<fmt:param value="${properties['project.name']}"/>
			</fmt:message>
			<br/><br/>
				
			<c:if test="${not empty command.appIcon}">
				<div class="oauthIcon">
					<img src="${command.appIcon}"/>
				</div>
			</c:if>
			
			<div class="oauthMeta">
				<span class="oauthTitle">
					<fmt:message key="oauth.authorization.app">
						<fmt:param value="${command.appTitle}"/>
					</fmt:message>
				</span>
				<br/><br/>
				
				<c:set var="denyButtonMsg">
					<fmt:message key="oauth.authorization.button.deny" />
				</c:set>
				<c:set var="authorizeButtonMsg">
					<fmt:message key="oauth.authorization.button.authorize" />
				</c:set>
				
				<form class="oauthActions" name="authZForm" action="authorize" method="POST">
					<input type="hidden" name="oauth_callback" value="${command.callBackUrl}"/>
					<input type="hidden" name="oauth_token" value="${command.entry.token}"/>
					<input type="submit" class="btn btn-lg btn-danger" name="authorizeAction" value="${denyButtonMsg}"/>
					<c:out value=" "/>
					<input type="submit" class="btn btn-lg btn-success" name="authorizeAction" value="${authorizeButtonMsg}"/>
				</form>
			</div>
			<br/>
			
			<div class="tab-content">
				<bs:alert style="info">
				<jsp:attribute name="alertBody">
					<fmt:message key="oauth.authorization.explanation">
						<fmt:param value="${properties['project.name']}"/>
					</fmt:message>
				</jsp:attribute>
				</bs:alert>
			</div>
			
			<div style="clear: both;"><!-- keep me --></div>
		</jsp:attribute>
	</layout:singleContainerLayout>
</jsp:root>