<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:user="urn:jsptagdir:/WEB-INF/tags/resources/user"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<layout:layout loginUser="${command.context.loginUser}" pageTitle="${command.pageTitle}"  requPath="${requPath}">
  
        <jsp:attribute name="heading">
        	<parts:search pathMessageKey="navi.register"/>
        </jsp:attribute>
        
        <jsp:attribute name="content">

		  <div id="general">
            <h2>You successfully registered user <c:out value="${command.registerUser.name}"/>.</h2>
          
            <user:details user="${command.registerUser}"/>
          </div>
      
	    </jsp:attribute>
      
	</layout:layout>

</jsp:root>