#goldstandard {

	.content-header {
		padding: 0 30px 35px 30px;
		border-bottom: none;
		margin: 20px 0 0 0;
		position: relative;

		.content-header-entrytype {
			font-size: 14px;
			font-variant: small-caps;
			margin: 0 0 5px 0;
			padding-right: 200px;
			text-transform: capitalize;
		}

		h1 {
			font-size: 100%;
			word-break: break-word;
			margin-top: 0;
			margin-bottom: 5px;
			padding-right: 200px;
		}
		
		h2 {
			font-size: 18px;
			margin-top: 5px;
			line-height: 1.3;
			height: auto;
			padding-right: 200px;
		}

		#info h2 {
			padding: 0 90px 0 0;
		}

		.additional-entrytype-information {
			font-size: 80%;
			color: #777;
		}

		.content-header-buttons {
			margin: 0 0 -45px 0;

			.btn {
				margin: 0 10px 0 0;
				padding: 4px 12px 4px 12px;
				vertical-align: baseline;
			}
			.btn.community-approved {
				cursor: default !important;
				background-color: #5cb85c;
				border-color: #4cae4c;
			}
		}

		.content-header-metric-buttons {
			position: absolute;
			top: 23px;
			right: 30px;
			width: 180px;

			.content-header-additional-info-item {
				display: inline-block;
				float: right;

				.content-header-additional-info-count {
					font-size: 18px;
				}
				.content-header-additional-info-description {
					font-size: 12px;
					padding-left: 3px;
				}
			}

			.content-header-additional-info-item.btn {
				padding: 2px 5px 1px 5px !important;
				margin: 0 0 0 10px;
			}
		}




	}

	.goldstandard-content {
		padding: 0 30px;

		h3 {
			margin-top: 30px;
			line-height: auto;
			height: auto;
		}

		.goldstandard-metadata {
			margin: 15px 0 0 0;
		}

		.table > tbody > tr > th,
		.table > tbody > tr > td {
			padding: 3px 10px 3px 0;
		}

		.tag-list .list-inline > li {
			padding: 4px;
		}

		.discussion-toggle-link {
			margin: 0 0 0 10px;
		}
	}
	


	.sidebar {

		.sidebar-quick-cite-box {
			padding: 10px 15px;
			background-color: #eee;

			.form-control {
				height: auto;
			}
		}

		.sidebar-links a {
			margin: 0 5px 5px 0;
		}

		#sidebar-quick-cite-box-modal {
			.modal-header {
				display: none;
			}
		}
	}


	.tagcloud {
		text-align: center;
		.tag {
			display: inline-block;
			padding: 2px 5px 3px;
			margin: 0.8em 0.4em;
			border: 1px solid @main-color;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			a {
				color: @main-color;
			}
		}
		
		.myown {
			background-color: fade(#006699, 15%);
		}
		
		.tagtiny {
			font-size: 65%;
		}
		
		.tagnormal {
			font-size: 75%
		}
		
		.taglarge {
			font-size: 88%;
		}
		
		.taghuge {
			font-size: 100%;
			padding: 8px;
		}
	}
	
	.citation-box {
		margin-bottom: 50px;
	}
	
	.community-page-user-list {
		.thumbnail {
			margin-bottom: 0px;
			border-bottom: none;
		}
		
		.user-avatar {
			max-width: 40px;
			max-height: 40px;
		}
		
		li.user-card {
			border: 1px solid #EEE;
			margin-right: 10px;
			padding-top: 10px;
			width: 55px;
			padding-bottom: 10px;
			border-radius: 5px;
			.btn {
				margin-top: 5px;
			}
		}
	}
	
	#related-publications {
		.tab-content {
			padding: 10px 0;
		}

		.tab-content ul {
			padding-left: 0px;
			list-style: none;
		}
		.tab-content li {
			margin-bottom: 10px;
			padding: 0 10px;
		}
		.tab-content li:hover {
			background-color: #f5f5f5;
		}
		a.title {
			padding-right: 4px;
		}

		.add-reference-link {
		    margin: 0 0 0 10px;
		}
		
		#admin-add-reference {
			padding: 1px 20px 10px 20px;
			background-color: #f5f5f5;
			margin: 0 10px;
		}

		.deleteRelation {
			float: right;
			margin: 0 -10px 0 5px;
		}
	}
}

.container.main.no-padding .breadcrumb {
	margin: 20px 30px;
}

.community-info {
	margin-left: 15px;
	padding: 7px;
	margin-top: 1px;
	border-radius: 5px;
	
	&.warning {
		background-color: @alert-warning-bg;
	}
}

/* used for borderless table */
.borderless td, .borderless th {
    border: none !important;
}