#help-main {
  margin-bottom: 45px;
  
	img {
		max-width: 100%;
	}
	
	h1:first-child {
		margin-top: 0px;
	}
}

#help-sidebar {
	background-color: #f2f2f2;
	padding: 15px;
	border-radius: 15px;
	margin-left: 45px;
	
	> h3:first-child {
		margin-top: 0px;
	}
}

#help-search span.fa-search{
	margin-right: 10px;
}