<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:errors="urn:jsptagdir:/WEB-INF/tags/errors"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="navi.passChangeOnRemind" var="passwordReminderPageTitle" />

	<layout:singleContainerLayout command="${command}" pageTitle="${passwordReminderPageTitle}" requPath="${requPath}" smallBox="true">
		<jsp:attribute name="content">
			<h1 class="content-header"><fmt:message key="navi.passChangeOnRemind"/></h1>
			
			<errors:global />
			
			<form:form action="/reminder/${mtl:encodePathSegment(command.reminderHash)}" method="POST" cssClass="form-horizontal">
				<input type="hidden" name="ckey" value="${command.context.ckey}"/>
				
				<bsform:fieldset legendKey="settings.newpassword">
					<jsp:attribute name="content">
						<bsform:input inputGroupSymbol="@" labelColSpan="3" inputColSpan="9" path="userName" tabindex="2" labelKey="navi.username" noHelp="${true}" disabled="${true}" />
						
						<bsform:password labelColSpan="3" path="newPassword" labelKey="navi.password" placeholderLikeLabel="true" inputGroupFaIcon="fa-key" noHelp="true" />
						
						<bsform:password labelColSpan="3" path="passwordCheck" labelKey="user.settings.passwordCheck" placeholderLikeLabel="true" inputGroupFaIcon="fa-key" noHelp="true" />
						
						<div class="form-group">
							<div class="col-sm-offset-3">
								<div class="col-sm-9">
									<fmt:message key="navi.passReminder.button" var="submit" />
									<bsform:button type="submit" value="${submit}" style="success" size="defaultSize" />
								</div>
							</div>
						</div>
						
						<hr />
						<br />
					</jsp:attribute>
				</bsform:fieldset>
			</form:form>
		</jsp:attribute>
	</layout:singleContainerLayout>
</jsp:root>